<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar>Reset password</mat-toolbar>
        <form fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Email address">
            </mat-form-field>

            <button mat-raised-button type="submit" fxLayoutAlign="center center">Reset password</button>
        </form>
        <p></p>
        <mat-divider></mat-divider>
        <p style="text-align: center;">If you dont recive an email to reset your password <a>click here</a></p>

    </mat-card>
</div>
<router-outlet></router-outlet>