<div class="login" fxLayoutAlign="center center" fxFlexFill style="text-align: center;">
    <mat-card fxFlex="25">
        <form fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Password">
            </mat-form-field>
            <button mat-raised-button type="submit">Login</button>
            <p></p>
            <a layout-align="center center">Forgot password?</a>
        </form>
        <mat-divider></mat-divider>
        <p></p>
        <form fxLayout="column">
            <button class="btn_register" mat-raised-button type="submit" fxLayoutAlign="center center" [routerLink]="['/registration']"> Register</button>
        </form>
    </mat-card>
</div>